<!DOCTYPE html>
<html>

<head>
    <title>Projects</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="navbar">
        <a href="/">About</a>
        <a class="active" href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </div>

    <div class="page-content">

        <h1>Projects</h1>

        <h2>Module 1: Personal Flask Website</h2>

        <p>
            This project is a personal website built using
            Python Flask, HTML, and CSS.
        </p>

        <p>
            The website includes:
        </p>

        <ul>
            <li>Homepage with biography</li>
            <li>Navigation bar</li>
            <li>Projects page</li>
            <li>Contact page</li>
        </ul>

        <p>
            GitHub Repository:
           <a href="https://github.com/zhk1127/jhu_software_concepts/tree/main/module_1">
            Module 1 GitHub Project
</a>
        </p>

    </div>

</body>
</html>